{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!-- Custom Favicon for Admin -->
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    <link rel="alternate icon" href="{% static 'favicon.svg' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'favicon.svg' %}" alt="Clinic Logo" style="height: 30px; width: 30px; vertical-align: middle; margin-right: 10px;">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
